@model OToChoThue.Models.LoaiXe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoaiXe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BienSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BienSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaThue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaThue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.XeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
