@model OToChoThue.Models.DonThueXe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonThueXe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayThue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinKhachHang.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinKhachHang.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiXe.TenXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiXe.TenXe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonThueID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
